.Head{
    padding: 1em;
    background-color: dodgerblue;
margin-bottom: 0.2cm;}

.List{
    
    padding: 1em;
    margin: 1em;
    width: 70%;
    

}

.btn {
    padding: 0.5em 0em 0.5em 0em;
    width: 5em;
    background-color:rgb(170, 190, 190);
    color: rgb(46, 45, 45);
    font-weight: bold;
    border: 0;
    cursor: pointer;
    border-radius: 0.25em;
}

.contact {
    border: 3px solid rgb(15, 15, 15);
    padding: 1 em;
    margin: 1em;
    margin-bottom: 0.5em;
    border-radius: 1em;
    background-color: rgb(182, 230, 10);
}