body {
    background-color: rgb(102, 197, 252);
    font-family: 'Times New Roman', Times, serif;
}
.Head{
    padding: 1em;
    background-color: rgb(41, 140, 238);
margin-bottom: 0.2cm;}

.List{
    
    padding: 1em;
    margin: 1em;
    width: 70%;
    

}

.btn {
    padding: 0.5em 0em 0.5em 0em;
    width: 5em;
    background-color:rgb(170, 190, 190);
    color: rgb(46, 45, 45);
    font-weight: bold;
    border: 0;
    cursor: pointer;
    border-radius: 0.25em;
}

.contact {
    border: 3px solid rgb(15, 15, 15);
    padding: 1 em;
    margin: 1em;
    margin-bottom: 0.5em;
    border-radius: 1em;
    background-color: rgb(182, 230, 10);
}
.nice{
    text-align: center;
}
.cartt{
    width: 9em;
    background-color:azure;
    color: rgb(61, 60, 60);
    font-weight: bold;
    border: 0;
    cursor: pointer;
    border-radius: 0.5em}
    .cHead{
        text-align: left;
    }
    .T1{
        margin-top: 5em;
        background-color: rgb(105, 245, 92);
    }

    .messag {
        padding: 1em;
        font-weight: bold;
        background-color: rgb(177, 196, 195);
    }

